List((
    // Width of the texture used by the sprite sheet
    texture_width: 476,
    // Height of the texture used by the sprite sheet
    texture_height: 885,
    // List of sprites the sheet holds
    sprites: [
        (
            // Horizontal position of the sprite in the sprite sheet
            x: 2,
            // Vertical position of the sprite in the sprite sheet
            y: 266,
            // Width of the sprite
            width: 64,
            // Height of the sprite
            height: 64,
            // Number of pixels to shift the sprite to the left and down relative to the entity holding it when rendering
            offsets: Some((0.0, 0.0)), // This is optional and defaults to (0.0, 0.0)
        ),
        (
            // Horizontal position of the sprite in the sprite sheet
            x: 68,
            // Vertical position of the sprite in the sprite sheet
            y: 266,
            // Width of the sprite
            width: 64,
            // Height of the sprite
            height: 64,
            // Number of pixels to shift the sprite to the left and down relative to the entity holding it when rendering
            offsets: Some((0.0, 0.0)), // This is optional and defaults to (0.0, 0.0)
        ),
        (
            // Horizontal position of the sprite in the sprite sheet
            x: 134,
            // Vertical position of the sprite in the sprite sheet
            y: 266,
            // Width of the sprite
            width: 64,
            // Height of the sprite
            height: 64,
            // Number of pixels to shift the sprite to the left and down relative to the entity holding it when rendering
            offsets: Some((0.0, 0.0)), // This is optional and defaults to (0.0, 0.0)
        ),
        (
            // Horizontal position of the sprite in the sprite sheet
            x: 200,
            // Vertical position of the sprite in the sprite sheet
            y: 266,
            // Width of the sprite
            width: 64,
            // Height of the sprite
            height: 64,
            // Number of pixels to shift the sprite to the left and down relative to the entity holding it when rendering
            offsets: Some((0.0, 0.0)), // This is optional and defaults to (0.0, 0.0)
        ),
        (
            // Horizontal position of the sprite in the sprite sheet
            x: 266,
            // Vertical position of the sprite in the sprite sheet
            y: 266,
            // Width of the sprite
            width: 64,
            // Height of the sprite
            height: 64,
            // Number of pixels to shift the sprite to the left and down relative to the entity holding it when rendering
            offsets: Some((0.0, 0.0)), // This is optional and defaults to (0.0, 0.0)
        ),
        (
            // Horizontal position of the sprite in the sprite sheet
            x: 200,
            // Vertical position of the sprite in the sprite sheet
            y: 266,
            // Width of the sprite
            width: 64,
            // Height of the sprite
            height: 64,
            // Number of pixels to shift the sprite to the left and down relative to the entity holding it when rendering
            offsets: Some((0.0, 0.0)), // This is optional and defaults to (0.0, 0.0)
        ),
        (
            // Horizontal position of the sprite in the sprite sheet
            x: 134,
            // Vertical position of the sprite in the sprite sheet
            y: 266,
            // Width of the sprite
            width: 64,
            // Height of the sprite
            height: 64,
            // Number of pixels to shift the sprite to the left and down relative to the entity holding it when rendering
            offsets: Some((0.0, 0.0)), // This is optional and defaults to (0.0, 0.0)
        ),
        (
            // Horizontal position of the sprite in the sprite sheet
            x: 68,
            // Vertical position of the sprite in the sprite sheet
            y: 266,
            // Width of the sprite
            width: 64,
            // Height of the sprite
            height: 64,
            // Number of pixels to shift the sprite to the left and down relative to the entity holding it when rendering
            offsets: Some((0.0, 0.0)), // This is optional and defaults to (0.0, 0.0)
        ),
    ],
))